@import'../../styles.scss';

.logo {
  height: 40px;
  margin-right: 10px;
}

.navbar-nav {
  width: 100%;
  justify-content: flex-start;
}

.nav-link {
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

.ms-auto {
  display: flex;
  margin-left: auto;
}


