<p>
  <mat-toolbar>
    <img [src]="logo" alt="Premier league logo" class="logo">
    <a class="spacer-small nav-link" [routerLink]="['/']">Main Page</a>
    <a class="spacer-small nav-link" [routerLink]="['/']">Results</a>
    <a class="spacer-small nav-link" [routerLink]="['/']">Table</a>
    <a class="spacer-small nav-link" [routerLink]="['/']">Transfers</a>
    <a class="spacer"></a>
    <button mat-flat-button color="primary" aria-label="Login button" class="login-button" [routerLink]="['/']">
      Login
    </button>
    <button mat-flat-button color="accent" aria-label="Register button" [routerLink]="['/']">
      Register
    </button>
  </mat-toolbar>
</p>
