<div class="main-page-container ">
  <h1 class="fs-1"><b>ALL ARTICLES</b></h1>
  <div class="row justify-content-center" *ngFor="let article of articles">
    <div class="col-12 col-md-8 mb-4">
      <div class="card">
        <div class="card-body custom-border card-cursor" [routerLink]="['/article', article.id]">
          <h2 class="card-title"><b>{{ article.title }}</b></h2>
          <h4 class="card-subtitle mb-2">{{ article.summary }}</h4>
          <p class="card-text">{{ article.date | date: 'short' }}</p>
          <img class="article-image" [src]="getImagePath(article.image)" alt="Article Image" />
        </div>
      </div>
    </div>
  </div>
  <div class="justify-content-center mt-4 mb-4">
    <mat-paginator (page)="loadData($event)" [pageSize]="pageSize" [length]="totalArticles" showFirstLastButtons></mat-paginator>
  </div>
</div>
