.main-page-container {
  text-align: center;
  font-size: 0.6rem;
  margin: 20px;
}

.article-image {
  width: 50%;
  height: auto;
}

.card-cursor:hover {
  cursor: pointer;
}

mat-paginator {
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #3D195B;
  border-radius: 50px;
}

.card {
  border: none ;
}

.custom-border {
  border: 1px solid #3D195B;
  border-radius: 50px;
}

