.article-image {
  width: 60%;
  height: auto;
  max-height: 400px;
}

.article-title {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 115%;
  margin-bottom: 2rem;
}

.article-text {
  font-size: 3rem;
  line-height: 115%;
  margin-top: 5rem;
  text-align: justify;
}

.custom-color-button {
  background-color: #3D195B;
  color: white;
}

@media (max-width: 768px) {
  .article-title {
    font-size: 2rem;
  }

  .article-image {
    width: 70%;
  }

  .article-text {
    font-size: 1.5rem;
    line-height: 115%;
    margin-top: 5rem;
    text-align: justify;
  }
}
