<div class="main-page-container">
  <h1 class="fs-1"><b>NEWEST ARTICLES</b></h1>
  <p *ngIf="!latestArticle">Loading...</p>
  <a class="nav-link" [routerLink]="['/article', latestArticle?.id]">
    <div class="container latest-article" *ngIf="latestArticle">
      <img [src]="getImagePath(latestArticle.image)" class="latest-article-image" alt="Article Image" />
      <h2>{{ latestArticle.title }}</h2>
      <p>{{ latestArticle.summary }}</p>
    </div>
  </a>

  <div class="container text-center">
    <div class="row" *ngFor="let group of groupArticles(lastArticles, 3)">
      <div class="col last-articles" *ngFor="let article of group">
        <a class="nav-link" [routerLink]="['/article', article.id]">
          <img [src]="getImagePath(article.image)" class="last-articles-images" alt="Article Image" />
          <h3>{{ article.title }}</h3>
          <p>{{ article.summary }}</p>
        </a>
      </div>
    </div>
  </div>
  <button class="btn custom-button mt-5" [routerLink]="['/articles']">All Articles</button>
</div>
