.main-page-container {
  text-align: center;
  font-size: 0.6rem;
  margin: 20px;
}

.latest-article {
  border: 1px solid #3D195B;
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.latest-article-image {
  width: 40%;
  height: auto;
  max-height: 200px;
}

.last-articles {
  border: 1px solid #3D195B;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.last-articles-images {
  width: 40%;
  height: auto;
  max-height: 100px;
}

.custom-button {
  background-color: #3D195B;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
   .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .latest-article,
  .last-articles {
    width: 80%; 
  }

  .latest-article-image,
  .last-articles-images {
    width: 60%;
  }
}
